.button{
  text-align: center;

}

.jumbotron{
  text-align: center;
  color: hotpink;
  background-image: url('../img/jungle.jpg');
  border-radius: 20px;
  image-orientation: center;

}
/*
#result {
  display: none;
} */

#jumbotron{
  background-image: url("../img/frog.gif");
  background: cover;
  display: none;
}

#catResult{
  display: none;
}

#dogResult{
  display: none;
}

.start-hidden {
  display: none;
}

.result {
  display: inline;
}
