.button{
  text-align: center;

}

.jumbotron{
  text-align: center;
  color: hotpink;
  background-image: url('../img/back.gif');
  border-radius: 20px;
  image-orientation: center;

}

#jumbotron{
  background-image: url("../img/frog.gif");
  background: cover;
  display: none;
}

.start-hidden {
  display: none;
}

.result {
  display: inline;
}
